#layers
{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 0;
	left: 0;
	right: 0;

	width: 600px;
	height: 100px;
	z-index: 9998;

	box-sizing: border-box;

	font-size: 0;

	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	-webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}


#layers-new
{
	display: inline-block;
	width: 100px;
	height: 75px;
	font-size: 15px;
	vertical-align: top;
	background-color: #5bc0de;
	color: white;
	border: none;
	border-radius: 0 0 5px 5px;
}

#layers-new span
{
	font-size: 20px;
	-webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

#layers #layers-new:focus
{
	outline: none;
}

#layers-new:hover span
{
	transform: scale(1.5, 1.5);
}

#layers #layers-container
{
	position: relative;
	display: inline-block;
	width: 500px;
	height: 60px;
	background-color: #2F2F2F;
	border-bottom-right-radius: 5px;
	padding: 10px;
}

#layers p 
{
	font-size: 20px;
	text-align: center;
	line-height: 20px;
	color: gray;
	text-shadow: 0px 0px 0px black;
}


.layers-slot
{
	display: inline-block;
	width: 50px;
	height: 40px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: gray;
	position: relative;

	/* -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75); */
}

.layers-slot canvas
{
	width: 50px;
	height: 40px;

	transform: scale(0, 0);
	background-color: white;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.layers-hide
{
	top: -75px!important;
}

#layers-selector
{
	position: absolute;
	width: 53px;
	height: 43px;
	border: 3px solid #5bc0de;
	top: 9px;
	left: 14px;

	-webkit-transition: left 0.2s;
    -moz-transition: left 0.2s;
    -o-transition: left 0.2s;
    transition: left 0.2s;

    pointer-events: none;
}

#layers-move
{
	display: none;
	position: absolute;
	width: 53px;
	height: 43px;
	border: 3px solid #5bc0de;
	background-color: rgba(91, 192, 222, 0.5);
	top: 9px;
	left: 14px;

	-webkit-transition: left 0.2s;
    -moz-transition: left 0.2s;
    -o-transition: left 0.2s;
    transition: left 0.2s;

    pointer-events: none;
}

.layers-delete
{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 15px;
	height: 15px;
	border-radius: 30px;
	background-color: #d9534f;
	color: red;
	padding: 0;
	z-index: 9999;
	border: none;
	text-align: center;
	transform: scale(0, 0);

	-webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
}

.layers-delete:focus
{
	outline: none;
}

.layers-delete span
{
	color: white;
	line-height: 10px;
	font-size: 10px;
}


.layers-mask
{
	position: absolute;
	bottom: -17px;
	right: 17.5px;
	width: 15px;
	height: 15px;
	border-radius: 30px;
	background-color: #696969;
	padding: 0;
	z-index: 9999;
	border: none;
	text-align: center;
	transform: scale(0, 0);

	-webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
}

.layers-mask:focus
{
	outline: none;
}

.layers-mask span
{
	color: white;
	line-height: 9px;
	font-size: 10px;
}